* {
    box-sizing:border-box;    
}

html, body {
    height:100%;
}

body {
    margin:0px;
    padding:0px;
    background-color:rgb(245,191,118);
    font-family:sans-serif;
}

header {
    border: 2px solid blue;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    height: 15%;
}

footer {
    background-color: white;
    border-radius: 0px 0px 20px 20px;
}

.centerHV {
    /* display:flex; */
    width:90%;
    height:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid;
    border-radius: 20px;
}


.homeLink {
    /* display:inline-block; */
    border: 2px solid;
    float:left;
    position:relative;
    top: 15px;
}

.navbarRight {
    border: 2px solid;
    float:right;
}


.heroImage {
    display:block;
    width:100%;
    padding:0px;
}